*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
keystore.properties
/.agents
/agents
/functions/node_modules
/functions/lib
/.firebase
firebase-debug.log
firestore-debug.log
*.log
